:root {
    --pink: #FF608C;
    --teal: #00c1b5;
    --orange: #ff651a;
    --yellow: #ffbe00;
    --blue: #1d3fbb;
    --red: #e30512;
    --black: #251d20;

    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*TEXT*/
.text-xs {
    font-size: 0.75rem;
    /* 12px */
    line-height: 1rem;
    /* 16px */
}

.text-sm {
    font-size: 0.875rem;
    /* 14px */
    line-height: 1.25rem;
    /* 20px */
}

.text-base {
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
}

.text-lg {
    font-size: 1.125rem;
    /* 18px */
    line-height: 1.75rem;
}

.text-xl {
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.75rem;
    /* 28px */
}

.text-2xl {
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */
}

.text-bold {
    font-weight: bold;
}

.pink-text {
    color: var(--pink) !important;
}

/* BODY */
html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif !important;
    background-color: var(--pink);
    transition: all 1s;
    overflow: hidden;
}

/* HEADER */
.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.header-logo {
    height: auto;
    width: 275px;
}

.header-email a,
.footer-email {
    color: black;
    text-decoration: none;
}

.header-email a:hover,
.footer-email:hover {
    text-decoration: underline;
}



/* MAIN */
.main-container {
    height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.book-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.book-image {
    max-width: 420px;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.book-info a {
    color: var(--white);
    text-decoration: none;
}

.book-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* FOOTER */
.footer-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 100%;
}

.footer-container a {
    color: var(--black);
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 300px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-email {
    display: none;
}

.issue-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
}

.issue-list a {
    text-decoration: none;
}

.issue-list a:hover {
    text-decoration: underline;
}

.active {
    font-weight: bold;
}

@media (max-width: 990px) {
    body {
        overflow: auto;
    }

    .header-wrapper {
        position: absolute;
    }

    .header-logo {
        width: 175px;
    }

    .header-email {
        display: none;
    }

    .main-container {
        height: auto;
    }

    .book-image {
        width: 80%;
        max-width: 420px;
    }

    .book-info {
        padding: 1rem;
    }

    .issue-list {
        display: none;
    }

    .footer-wrapper {
        position: relative;
        left: auto;
        bottom: auto;
        width: auto;
    }

    .footer-container {
        display: flex;
        justify-content: center;

        height: auto;
        width: 100%;
        text-align: center;
    }

    .footer-left {
        max-width: max-content;
    }

    .footer-email {
        display: block;
    }

}